/docs/
/lib/
/bin/
/.shards/
*.dwarf
*.env*

# binaries
/play
/rosegold

# Libraries don't need dependency lock
# Dependencies will be locked in applications that use them
/shard.lock

# whole entire minecraft server for specs
spec/fixtures/server/*
!spec/fixtures/server/ops.json

# added by copilot
crystal.tar.gz

# a place to put game data for searching
game_assets/protocol_docs
